@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

$body-bg:                     #ecf0f1;
$font-family-sans-serif:      'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$navbar-height:               45px;
$navbar-default-bg:           #f1c40f;
$navbar-default-brand-color:  #2c3e50;
$brand-primary:               #c0392b;
$jumbotron-bg:                white;

@import "bootstrap-sprockets";
@import 'bootstrap';

.center {
  text-align: center;
}

.navbar-brand {
  font-weight: bold;
}
